<nav class="navbar navbar-toggleable-md fixed-top navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" scrollTo href="#home">MZambrano</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="nav navbar-nav">
        <li><a class="nav-item nav-link" scrollTo href="#home">Home</a><li>
        <li><a class="nav-item nav-link" scrollTo href="#about-me">About Me</a></li>
        <li><a class="nav-item nav-link" scrollTo href="#skills">Skills</a></li>
        <li><a class="nav-item nav-link" scrollTo href="#social">Social</a></li>
        <li><a class="nav-item nav-link" scrollTo href="#resume">Resume</a></li>
      </ul>
    </div>
</nav>
