<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Personal Data
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h5><strong>Manuel Zambrano Rodríguez</strong></h5>
              <p><i class="fa fa-home" aria-hidden="true"></i> Carmona, Sevilla</p>
              <p><i class="fa fa-phone-square" aria-hidden="true"></i> 610011603</p>
              <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:zambra4a@gmail.com">zambra4a@gmail.com</a></p>
            </div>
            <div class="col-md-4">
              <h5><strong>Languages</strong></h5>
              <label>Spanish</label>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%"></div>
              </div>
              <label>English</label>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <h5><strong>Hobbies</strong></h5>
              <p><i class="fa fa-desktop" aria-hidden="true"></i> Technology</p>
              <p><i class="fa fa-film" aria-hidden="true"></i> TV Shows & Movies</p>
              <p><i class="fa fa-heart" aria-hidden="true"></i> Rollerblading</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Education
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h5><strong>Science Baccalaureate</strong></h5>
              <p><i class="fa fa-calendar" aria-hidden="true"></i> 2007 - 2009</p> 
              <p><i class="fa fa-briefcase" aria-hidden="true"></i> I.E.S. Maese Rodrigo</p>
              <p><i class="fa fa-globe" aria-hidden="true"></i> Carmona, Sevilla</p>
            </div>
            <div class="col-md-4">
              <h5><strong>Computer Engineering</strong></h5>
              <p><i class="fa fa-calendar" aria-hidden="true"></i> 2009 - 2012</p> 
              <p><i class="fa fa-briefcase" aria-hidden="true"></i> University of Seville</p>
              <p><i class="fa fa-globe" aria-hidden="true"></i> Sevilla, Spain</p>
            </div>
            <div class="col-md-4">
              <h5><strong>Multiplatform App. Development</strong></h5> 
              <p><i class="fa fa-calendar" aria-hidden="true"></i> 2012 - 2014</p>
              <p><i class="fa fa-briefcase" aria-hidden="true"></i> I.E.S. Cristóbal de Monroy</p>
              <p><i class="fa fa-globe" aria-hidden="true"></i> Alcalá de Guadaíra, Sevilla</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Experience
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h5><strong>Internship</strong></h5>
              <p><i class="fa fa-calendar" aria-hidden="true"></i> 2014</p>
              <p><i class="fa fa-briefcase" aria-hidden="true"></i> Guadaltel S.A.</p>
              <p><i class="fa fa-globe" aria-hidden="true"></i> Sevilla</p>
            </div>
            <div class="col-md-4">
              <h5><strong>Liferay Developer</strong></h5>
              <p><i class="fa fa-calendar" aria-hidden="true"></i> 2015 - 2017</p> 
              <p><i class="fa fa-briefcase" aria-hidden="true"></i> everis Spain</p>
              <p><i class="fa fa-globe" aria-hidden="true"></i> Sevilla</p>
            </div>
            <div class="col-md-4">
              <h5><strong>Liferay Senior Developer</strong></h5>
              <p><i class="fa fa-calendar" aria-hidden="true"></i> 2017 - Today</p> 
              <p><i class="fa fa-briefcase" aria-hidden="true"></i> Grupo ICA</p>
              <p><i class="fa fa-globe" aria-hidden="true"></i> Barcelona</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        